<h1>All Plots</h1>
  <% @plots.each do |plot| %>
  <section id="plot-<%=plot.id%>">
    <h2><%= plot.number%></h2>
      <%plot.plants.each do |plant|%>
      <section id="plant-<%=plant.id%>">
        <%=plant.name%> <%= button_to "Remove", crop_path(plot, plant), params: {plot_id: plot.id, plant_id: plant.id}, method: :delete %>
      </section>
      <%end%>
    </section>
    <%end%>
